body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.vote-text {
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
  color: #253e53;
  font-size: 48px;
}

.total {
  color: rgba(79, 79, 79, 1);
  font-size: 32px;
}

img {
  width: 100%;
  height: auto;
  max-width: 500px;
}

.center {
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 16px;
  max-width: 800px;
  width: 100%;
  justify-items: center;
}

.line {
  grid-column: 1 / 3 span;
  background-color: #2f8892;
  width: 80%;
  height: 10px;
}

@media (max-width: 900px) {
  .vote-text {
    font-size: 32px;
  }
  .total {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .vote-text {
    font-size: 24px;
  }
  .total {
    font-size: 16px;
  }
}
